{% extends 'blog/base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="content-section">
  <form method="post">
    <!-- #csrf_token(cross site forgery token) is used avoid #any #attack on our
    website  -->
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="input-border border-bottom mb-4" text-align: center>
      Reset Password
      </legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <!--  -->
      <button class="button_fix btn btn-outline-info" type="submit">
        <!-- button_fix -->
        <!-- btn btn-outline-info -->
        <strong>Request Password Reset</strong>
      </button>
    </div>
  </form>
 
</div>
{% endblock content %}
