<!DOCTYPE HTML>
<html>
	<head>
		{% load static %}
		<title>WARA-JEJU</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static "css/main.css" %}" />
		<style>
			a.disabled {
			  pointer-events: none;
			  cursor: default;
			  background-color: grey !important;
			}
		</style>
	</head>
	<body class="homepage is-preload">
		<form id="routeRecommendation" method="get" action="schedule_list/">
			<div id="page-wrapper">
				<!-- Header -->
				<section id="header">
					<div class="container">
						<!-- Logo -->
						<h1 id="logo"><a href="index.html">WARA-JEJU</a></h1>
						<p>바쁜 사람들을 위해 선택한 일정 최적의 경로 추천 시스템</p>
						<br>
						<br>
							<div class="row gtr-50">
								<div class="col-6 col-12-small">
									<input name="name" id="name" placeholder="제주 스타벅스" type="text" value="{{ request.GET.name }}"/>
								</div>
								<div class="col-12">
									<a id="request" class="form-button-submit button icon solid fa-envelope">검색하기</a>
								</div>
							</div>
						<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a class="icon solid fa-home" href="profile/"><span>일정 계획</span></a></li>
<!--								<li><a class="icon solid fa-home" href="schedule_list/"><span>스케줄</span></a></li>-->
<!--								<li><a class="icon solid fa-home" href="route_recommend/"><span>경로 추천(완료)</span></a></li>-->
							</ul>
						</nav>
					</div>
				</section>
				<!-- Main -->
				<section id="main" style="margin-bottom: 2rem;">
					<div class="container">
						<div class="row">
							<div id="sidebar" class="col-4 col-12-medium">
								<!-- Highlights -->
								{% include 'include.html' %}
							</div>
						</div>
					</div>
				</section>
				<footer style="height: 75px; font-weight: bold;display: flex;align-items: center;position: fixed;left: 0;right: 0;bottom: -1rem;">
					<button class="form-button-submit button icon solid fa-envelope">경로추천</button>
				</footer>
			</div>
			<input type="hidden" id="count" name="count" value="0">
		</form>
		<!-- Scripts -->
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/jquery.dropotron.min.js" %}"></script>
		<script src="{% static "js/browser.min.js" %}"></script>
		<script src="{% static "js/breakpoints.min.js" %}"></script>
		<script src="{% static "js/util.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>
		<script>
			function setCoordinate(x, y, 상호명){
				if(x != '' && y != '' && 상호명 != ''){
					var html = "";
					html += '<a class="link depth-0" href="javascript:;" onclick="$(this).remove();';
					html += '$(\'#';
					html += $("#routeRecommendation").find("input[type='hidden']").length - 1;
					html += "')";
					html += '.remove();" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><span class="indent-0"></span> - ';
					html += 상호명;
					html += '</a>';
					$("nav").append(html);

					html = "";
					html += "<input type='hidden' value='";
					html += x;
					html += ", ";
					html += y;
					html += ", ";
					html += 상호명;
					html += "'";
					html += "name='";
					html += $("#routeRecommendation").find("input[type='hidden']").length - 1;
					html += "'";
					html += "id='";
					html += $("#routeRecommendation").find("input[type='hidden']").length - 1;
					html += "'";
					html += "'>";
					$("#routeRecommendation").append(html);

					$(this).attr('disabled', true);
					$("#count").val($("#routeRecommendation").find("input[type='hidden']").length - 1);
				}
			}
			$.ajaxSetup({
				headers: { "X-CSRFToken": '{{csrf_token}}' }
			});
			document.addEventListener('keydown', function(event) {
				if (event.keyCode === 13) {
					event.preventDefault();
				};
			}, true);

			// 'request'라는 id를 가진 버튼 클릭 시 실행.
			$("#request").click(function(){
				$.ajax({
					type : "POST",            // HTTP method type(GET, POST) 형식이다.
					url : "test/",            // 컨트롤러에서 대기중인 URL 주소이다.
					dataType: "JSON",
					data: {
						'name': $("#name").val(),
						csrfmiddlewaretoken: '{{ csrf_token }}'
					},           // Json 형식의 데이터이다.
					headers: {
					   'X-CSRFToken' : '{{ csrf_token }}'
					},
					success : function(res){  // 비동기통신의 성공일경우 success콜백으로 들어옵니다. 'res'는 응답받은 데이터이다.
						const port_data = JSON.stringify(res);
						var port_data_json = JSON.parse(port_data);
						console.log(port_data_json.length)
						var html = "";

						for (var i = 0; i < port_data_json.length; i++) {
							html += '<section>'
							html += '	<ul class="divided">'
							html += '		<li>'
							html += '			<article class="box highlight">'
							html += '				<header>'
							html += '					<h3><a href="#">'
							html +=	port_data_json[i].상호명
							html += '					</a></h3>'
							html += '				</header>'
							html += '				<section>'
							html += '					<a href="#" class="image left"><img src="'
							html += port_data_json[i].thumbnail
							html += '" alt="" /></a>'
							html += '					<div>'
							html += '						<p style="margin-bottom: 1em;"><strong>평점 : </strong><em>'
							html += port_data_json[i].kakao_grade
							html += '점</em></p>'
							html += '						<p style="margin-bottom: 1em;"><strong>리뷰 : </strong><em>'
							html += port_data_json[i].kakao_review
							html += '건수</em></p>'
							html += '						<p style="margin-bottom: 1em;"><strong>도로명 : </strong><em>'
							html += port_data_json[i].road_address_name
							html += '</em></p>'
							html += '						<p style="margin-bottom: 1em;"><strong>지번 : </strong><em>'
							html += port_data_json[i].address_name
							html += '</em></p>'
							html += '					</div>'
							html += '				</section>'
							html += '				<div>'
							html += '					<a href="'
							html += port_data_json[i].place_url
							html += '" target="_blank" class="button icon solid fa-file" style="width: 47%;display: inline-block;margin-right: 5%;">카카오맵</a>'
							html += '					<a href="javascript:setCoordinate('
							html += port_data_json[i].x
							html += ', '
							html += port_data_json[i].y
							html += ', \''
							html += port_data_json[i].상호명
							html += '\');" onclick="$(this).addClass(\'disabled\');" class="button icon solid fa-file"  style="width: 47%;display: inline-block;">일정추가</a>'
							html += '				</div>'
							html += '			</article>'
							html += '		</li>'
							html += '	</ul>'
							html += '</section>'
						}

						console.log(html)
						$("#sidebar").html(html);
					},
					error : function(XMLHttpRequest, textStatus, errorThrown){ // 비동기 통신이 실패할경우 error 콜백으로 들어옵니다.
						alert(textStatus)
					}
				});
			});
		</script>
	</body>
</html>