<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
{% comment %} <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-messaging.js"></script> {% endcomment %}



<script>
  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "AIzaSyBG8jZpj3EXjOvxEfTPb1gIgOpSQYdhD7g",
    authDomain: "fast-parcel-77b12.firebaseapp.com",
    projectId: "fast-parcel-77b12",
    storageBucket: "fast-parcel-77b12.appspot.com",
    messagingSenderId: "156258244573",
    appId: "1:156258244573:web:d62952ad6a18e8e2fd8834"
  };

  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>